.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  min-height: 800px;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin: 202px 0 0;
  padding: 80px 80px 0;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin: 0;
  display: block;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 28px 80px 0;
  margin: 0;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 40px;
  padding: 40px 80px 0;
  width: 100%;
  margin-top: auto;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-end;
}
.header__hours {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  flex-direction: column;
}

.header__paragraph {
  margin: 0;
}

.nav {
  display: flex;
}
.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  left: 30px;
  top: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  position: absolute;
  column-gap: 20px;
  margin: 8px 0 0;
  right: 80px;
  top: 30px;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}
.recipes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 100px 80px 0;
}
.recipes__subtitle {
  color: #ffffff;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 80px 0;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 80px 0 215px;
}
.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}
.recipes__video-caption {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  padding: 100px 0 80px;
}
.reservation__form {
  max-width: 385px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.form {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.form__fieldset {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.form__label {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  box-sizing: border-box;
  margin-bottom: 32px;
  block-size: 60px;
  border: #838383;
  border-radius: 4px;
}

.form__button {
  block-size: 60px;
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  margin-bottom: 32px;
  transition-property: opacity;
  transition-duration: 1s;
}
.form__button:hover {
  opacity: 0.7;
}
.form__checkbox {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  justify-content: center;
  margin-right: 12px;
}

.form__label_checkbox {
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
}

::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
